<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>Show Recipe</title>
</head>
<body>
    <div class="d-flex justify-content-between">
        <h1>{{recipe['name']}}</h1>
        <div>
            <a href="/recipes" class="btn btn-primary">Recipes</a>
            <a href="/logout" class="btn btn-info">Logout</a>
        </div>
    </div>
    <div class="card text-white bg-primary mb-3 d-inline-block">
        <div class = "card-body">
            <p class="card_text">Description: {{recipe['description']}}</p>
            <p class="card_text">
                Under 30 minutes? 
                {% if recipe['under_thirty'] == 0 %}
                    No
                {% else %}
                    Yes
                {% endif %}
            </p>
            <p class="card_text">Instructions: {{recipe['instructions']}}</p>
        </div>
    </div>
</body>
</html>